@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Merriweather:wght@400;700&family=Oswald:wght@300;500&family=Ubuntu:wght@300;400;500;700&display=swap');


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
    text-align: center;
}

.form-container {
  /* width: max-content; */
  margin: auto;
  padding: 15px;
}

.item-container {
  margin:20% auto; 
}

.loginPage-container {
  padding: 20px;
  margin: auto;
}

.login-header {
  text-transform: capitalize;
  font-weight: 500;
  font-family: 'Merriweather', serif;
  margin: 10px;
  /* margin-bottom: 5px; */
}

.login-header-text {
  color: #fa1547 !important;
}

.mui-btn-color {
  background-color: #1E367B !important;
}

.form-control {
  padding: 8px;
  text-align: center;
  box-shadow: none !important;
  border: 1px solid rgb(255, 26, 26) !important;
}

.form-control:focus{
  border: 1px solid rgb(30, 30, 255) !important;
}

.login-header strong {
  color: blue;
}

.btn {
  margin-top: 5px;
  border-radius: 20px;
  padding: 8px !important;
  width: 40%;
}

.btn:focus {
  box-shadow: none !important;
}

.para-accept-policy{
  display: inline-block;
}

.userDetials-label {
  float: left;
  color: blue;
  font-family: 'Kanit', sans-serif;
}

.choose-retrive , .choose-store {
  margin: 10px;
}

.store-btn, .retrive-btn {
  box-shadow: 0px 0px 8px 0px #1E367B !important;
  color: #1E367B !important;
  transition: .5s ease-out;
}

.store-btn:hover, .retrive-btn:hover {
  background-color: #F17829 !important;
}

.diff-line {
  background-color: #1E367B;
  width: 70%;
  height: 2px;
  margin: 10px auto;
}

.welcome-hello {
  color: #F17829;
}

/* retrive or store page des */

.welcome-page-container {
  box-shadow: 0px 0px 8px 2px rgb(145, 145, 145);
  border-radius: 8px;
  width: fit-content;
  margin: auto;
  margin-top: 8% !important;
}

.retrive-or-store{
  padding: 30px;
}

.page-header {
  font-weight: 500;
  color: #1E367B;
  margin-bottom: 20px;
}

.page-side-header {
  color: #1E367B;
  font-weight: 400;
}

.container-header {
  color: #F17829;
}

.store-page-container {
  margin: auto;
  margin-top: 8% !important;
  transition: .2s ease;
  box-shadow: 0px 0px 12px 1px #1E367B;
  border-radius: 8px;
  width: fit-content !important;
  padding: 20px;
}

.otp-header {
  color: #fa1547;
  text-transform: capitalize;
  font-size: 24px;
}

.limit-exceed {
  margin: 20% auto;
  width: 55%;
  height: fit-content;
  padding: 40px;
  text-align: center;
  border-radius: 8%;
  color: #1E367B;
  box-shadow: 0px 0px 6px 1px #1E367B;
}

.no-terminal-id-wind {
  margin: 20px;
}

.no-terminal-id-content {
  margin: auto;
  margin-top: 15%;
  box-shadow: 0px 0px 8px 0px #1E367B;
  color: #1E367B;
  padding: 30px;
  width: 300px;
  border-radius: 8px;
}

.limit-exceed-header-two {
  color: #F17829;
}

.welcomepage-logo-container{
  width: 100%;
  margin-bottom: 10px;
  background-color: #1E367B;
  border: none;
  border-radius: 8px 8px 0px 0px;
}

.opening-page-container {
  padding: 20px;
}

.choose-lang-container {
  float: right;
  margin-top: -50px;
}

/* .devider {
  color: #1E367B !important;
margin-top: -10px;
} */
/* for the otp verify page */

.otp-page-container {
  padding: 20px;
}

.locker-items-box {
  border: 1px solid #000;
  cursor: pointer;
  transition: 0.3s ease;
  text-align: center !important;
  margin: auto;
}

.locker-items-box:hover {
  background-color: #bbbbbb;
}

.otp-form-container {
  width: fit-content;
  padding: 20px;
  margin: auto;
  box-shadow: 0px 0px 12px 0px #1E367B;
  border-radius: 8px;
  text-align: center;
  margin-top: 3%;
  padding: 40px;
}

.time-countdown-container {
  padding: 15px;
  box-shadow: 0px 0px 8px 1px #1E367B;
  width: 70px;
  margin: auto;
  border-radius: 8px;
  color: #1E367B !important;
}

.time-countdown-container-timeout {
  padding: 15px;
  box-shadow: 0px 0px 8px 1px #1E367B;
  width: 70px;
  margin: auto;
  border-radius: 8px;
  background-color: #bbbbbb;
  color: #1E367B !important;
}

.welcome-page-logo {
  margin-top: -40px;
  margin-bottom: -40px;
  padding: 0px;
}

.path-to-unblock-loc {
  color: #F17829;
}



/* for mobiles */
@media only screen and (max-width: 600px) {
  .btn {
    width: 60%;
    padding: 8px !important;
    /* border-radius: 20px !important; */
  }

  .no-terminal-id-content {
    margin-top: 40%;
  }

  .form-control {
    border-radius: 20px !important;
    
  }

  .store-page-container {
    margin-top: 25% !important;
  }

  .welcome-hello {
    color: #F17829;
  }

  .retrive-or-store{
    padding: 30px;
  }

  .welcome-page-container {
    margin-top: 30% !important;
  }

  .choose-lang-container {
    margin-top: -40px;
  }

  .otp-form-container {
    margin-top: 10%;
    padding: 10px;
  }

  .limit-exceed {
    margin: 20% auto;
    width: 90%;
    height: fit-content;
    padding: 40px;
    text-align: center;
    border-radius: 8%;
    color: #1E367B;
    box-shadow: 0px 0px 6px 1px #1E367B;
  }
}