html,
body {
  box-sizing: border-box;
  padding: 0px !important;
  margin: 0px !important;
}

.App {
  text-align: center;
  padding: 0px !important;
  margin: 0px !important;
}

body {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
}

a, Link{
  text-decoration: none !important;
}

.mui-btn-color-yellow {
  background-color: #F17829 !important;
}

img {
  cursor: pointer;
  transition: .3s ease;
}

img:hover {
  transform: scale(1.1);
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
  letter-spacing: 1px;
}